* {
    text-decoration: none;
}


body{
    background-color: #191919;
}

header{
    background-color: slategray;
    width: 100%;
    height: 100px;
}

header .header-brand{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 900;
    color: #111;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px 0;
    text-decoration: none;
}


header nav ul{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

header nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

header nav ul li a{
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #111;
    
}

header nav ul li a:hover{
    text-decoration: none;
}




footer{
    background-color: slategray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

footer p{
    text-align: center;
    padding-top: 9px;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #111;
}

main{
    text-align: center;
}



@media only screen and (min-width: 700px){
    header .header-brand{
        margin: 0 ;
        text-align: left;
        padding: 25px 20px 0 40px;
        float: left;
    }
    header{
        width: 100%;
    }
    header nav ul{
        text-align: right;
        padding: 30px 20px 0 40px;
    }

}


@media only screen and (max-width: 700px){
    header nav ul{
        width: fit-content;
    }
}



